.container{
  background-image: url('https://www.teahub.io/photos/full/236-2363989_wallpaper-space-continents-map-2560-x-1440-world.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%; 
  min-height: 100vmin;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container button{
  background-color: rgba(255, 255, 255, 0.863);
  border: solid 1px rgb(233, 225, 225);
  box-shadow: rgba(241, 236, 236, 0.904) 0px 3px 15px;
  color: rgb(18, 2, 61);
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
}

.container button:hover{
  background-color: white;
  box-shadow: rgba(241, 236, 236, 0.904) 0px 3px 15px;
}

.buttonsMain{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.selec li{
  background-color: rgba(255, 255, 255, 0.863);
  border: solid 1px rgb(233, 225, 225);
  padding-left: 15px;
  margin-bottom: 5px;
  box-shadow: rgba(241, 236, 236, 0.904) 0px 3px 15px;
  color: rgb(18, 2, 61);
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  width: 200px;
}

.selec li:hover{
  background-color: white;
  box-shadow: rgba(241, 236, 236, 0.904) 0px 3px 15px;
}

.selec button{
  margin:0 110px;
}

.countries{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchMain{
  margin: 20px;
}

.searchMain input{
  border-radius: 20px;
  padding-left: 5px;
}

.controlNav{
  display: flex;
  align-items: center;
}

.controlNav p{
  background-color: aliceblue;
  width: 80px;
  text-align: center;
  border-radius: 20px;
  height: 20px;
}

.noCountrieMsg{
  background-color: rgba(255, 255, 255, 0.548);
  border: double 3px rgb(233, 225, 225);
  border-radius: 5px;
  box-shadow: rgba(25, 25, 25, 0.2) 0px 2px 8px 0px;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px;
}
